body {
  background-color: black;
}

/*header*/
.banner {
  width: 100%;
  height: 605px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    url("../images/banner.png");
  border-bottom: 1px solid #33a8db;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35.416%;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 75px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 268px;
  height: 268px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 16px;
  margin: 16px;
}

/*fim header*/
